#body{
    background-color:#303030;
    padding: 5px;
}

#navBar{
    display:flex;
    flex-wrap:wrap;
    font-family: 'Ubuntu', sans-serif;
}

#card{
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
}


#results{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    height: 300px;

}


